@font-face {
  font-family: "ObjektivMk2";
  src: local("ObjektivMk2"), url(../src/fonts/ObjektivMk2.woff), format("woff");
}

@font-face {
  font-family: "ObjektivMk2Bold";
  src: local("ObjektivMk2Bold"), url(../src/fonts/ObjektivMk2Bold.woff),
    format("woff");
}

html,
body,
#root {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
