@font-face {
  font-family: "ObjektivMk2";
  src: local("ObjektivMk2"), url(./fonts/ObjektivMk2.woff) format("woff");
}

@font-face {
  font-family: "ObjektivMk2Bold";
  src: local("ObjektivMk2Bold"),
    url(./fonts/ObjektivMk2Bold.woff) format("woff");
}
